<style>


/***********************	
				COLORS
***********************/
	.dark-blue-bg{background-color: #030c22;}
	.medium-blue{color: #20293F;}
	.blue{color: #2badd9;}
	.dark-grey{color: #404749;}
	.lg-grey{color:#a9b0b3;}
	
	.small-space{padding-bottom: 5%}


</style>